# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.mypy_cache/
.pytest_cache/
.venv/

# Node
frontend/node_modules/
frontend/.vite/
frontend/build/
frontend/dist/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Local data
/data/
*.env
.env*
